body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #f3f3f3;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #000000;
}

h2 {
    color: #000000;
}

form {
    margin: 20px 0;
}

.campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.botao {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: rgb(41, 41, 41);
}

.mensagem {
    background-color: #d9edf7;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
}

th {
    background-color: #000000;
    color: white;
    border-radius: 10px
}

th,
td {
    border: 1px;
    padding: 10px;
    text-align: center;
}

.entrada {
    color: rgb(0, 201, 0);
    font-weight: bold;
}

.saida {
    color: rgb(204, 0, 0);
    font-weight: bold;
}